/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(258, 100%, 20%);
  --clr-primary-2: hsl(258, 90%, 30%);
  --clr-primary-3: hsl(258, 80%, 40%);
  --clr-primary-4: hsl(258, 70%, 50%);
  /* primary/main color */
  --clr-primary-5: hsl(258, 60%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(258, 50%, 70%);
  --clr-primary-7: hsl(258, 40%, 80%);
  --clr-primary-8: hsl(258, 30%, 90%);
  --clr-primary-9: hsl(258, 20%, 95%);
  --clr-primary-10: hsl(258, 10%, 98%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(257, 61%, 16%);
  --clr-grey-2: hsl(255, 39%, 23%);
  --clr-grey-3: hsl(257, 34%, 30%);
  --clr-grey-4: hsl(257, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(256, 22%, 49%);
  --clr-grey-6: hsl(257, 23%, 60%);
  --clr-grey-7: hsl(255, 27%, 70%);
  --clr-grey-8: hsl(256, 31%, 80%);
  --clr-grey-9: hsl(254, 33%, 89%);
  --clr-grey-10: hsl(256, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Mochiy Pop P One", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  /* color: var(--clr-grey-1); */
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary-6);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--clr-primary-1);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/* 
===============
Global class
=============== 
*/

/*clase para TEXTO DEGRADADO '.gradient-text' */
.gradient-text {
  background-clip: text;
  background-image: linear-gradient(
    45deg,
    var(--clr-primary-6),
    var(--clr-primary-2)
  );
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* clase para animaciòn de elementos '.shake' */
@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

.shake {
  cursor: pointer;
  display: inline-block;
}
.shake:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate(0, 0);
  color: var(--clr-primary-5);
}

.sticky {
  position: sticky;
  top: 0;
}
/* P O R T F O L I O */

body {
  min-height: 100vh;
  background: linear-gradient(var(--clr-primary-1), var(--clr-primary-6));
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header img {
  margin: 0;
  padding: 0;
  width: 20rem;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  padding: 6px 15px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}
section img#mountains_front {
  z-index: 10;
}
#text {
  right: -550px;
  position: absolute;
  white-space: nowrap;
  font-size: 5.5vw;
  z-index: 9;
}

#btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  border: thin solid var(--clr-grey-3);
  left: auto;
  top: auto;
}

.sec {
  position: relative;
  padding: 100px;
  background-color: #1c0524;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  letter-spacing: 5px;
}
.sec p {
  font-size: 2em;
}
@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh;
    background: linear-gradient(var(--clr-primary-1), var(--clr-primary-6));
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
  }
  header img {
    margin: 0;
    padding: 0;
    width: 10rem;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    margin-left: 10px;
  }

  header ul li a {
    padding: 6px 10px;
  }

  section {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
  }
  section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  section img#moon {
    mix-blend-mode: screen;
  }

  section img#mountains_front {
    z-index: 10;
  }

  #text {
    right: -200px;
    position: absolute;
    white-space: nowrap;
    font-size: 3.5vw;
    z-index: 9;
  }
  #btn {
    display: inline - block;
    text-decoration: none;
    padding: 8px 15 px;
    border-radius: 40 px;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(50px);
    border: thin solid var (-- clr -- grey -- 3);
    left: auto;
    top: auto;
  }
  .sec {
    position: relative;
    padding: 50 px;
    background: color #1c0524;
  }
  .sec h2 {
    font-size: 2.5em;
    margin-bottom: 10 px;
    letter-spacing: 5 px;
  }
  .sec p {
    font-size: 1rem;
  }
}
